---
import fetchApi from "@lib/strapi";
import type { ProfileResponse } from "@interfaces/profile";
import Layout from "@layouts/Layout.astro";
import { marked } from "marked";
import { Portrait } from "@interfaces/portrait";

const { id } = Astro.params;

if (!id) return Astro.redirect('/');

const profile = await fetchApi<ProfileResponse>({
  endpoint: `personnes/${id}`,
  wrappedByKey: "data",
}).then((profileResponse) => ({id, ...profileResponse.attributes}));

// maybe find a cleaner way to store the api url
const portraits: Portrait[] = profile.Portrait.data.map((pic)=> ({id, ...pic.attributes, url: `https://api.genealogie.dhebrail.fr${pic.attributes.url}`}))
---

<Layout title={profile.Nom}>
  <h1>{profile.Nom}</h1>
  <p set:html={marked.parse(profile.Biographie)} />
  <img src={portraits[0].url} alt={portraits[0].alternativeText} />
  <a href={`/arbre?idPersonne=${profile.id}`}>Voir dans l'arbre généalogique</a>
</Layout>
