---
import fetchApi from '@lib/strapi';
import type {ArticleResponse} from '@interfaces/article'
import Layout from '@layouts/Layout.astro';

const {id} = Astro.params;

const article = await fetchApi<ArticleResponse>({
  endpoint: `articles/${id}`,
  wrappedByKey: 'data',
}).then((articleResponse) => articleResponse.attributes);
---

<Layout title={article.Titre}>
  <h1>{article.Titre}</h1>
  <p>{article.Description}</p>
</Layout>