---
import Layout from "@layouts/Layout.astro";

const user = Astro.locals.pb.authStore.model;
const capitalizedName = user.name.charAt(0).toUpperCase() + user.name.slice(1);
const hotLinks = [
  {
    href: "/article/9ogyhu6la4nnbtj",
    title: "Mais d'où vient ce blason ?",
    image: "/images/oldBlason.jpg",
  },
  {
    href: "/article/9ogyhu6la4nnbtj",
    title: "L'origine du nom d'Hébrail",
    image: "/images/hill.jpeg",
  },
  {
    href: "/article/9ogyhu6la4nnbtj",
    title: "Les lieux de la famille",
    image: "/images/treasure.jpeg",
  },
  {
    href: "/article/9ogyhu6la4nnbtj",
    title: "Les meilleures anecdotes",
    image: "/images/random.jpeg",
  },
];
---

<Layout title="Généalogie d'Hébrail" connected={true}>
  <div class="grid grid-cols-3 welcome_screen">
    <div
      class="p-4 col-span-3 md:col-span-2 text-center md:text-right flex flex-col justify-center items-stretch md:items-end gap-4"
    >
      <div class="flex flex-col z-10">
        <h1 class="text-4xl md:text-5xl font-serif font-medium">
          Bonjour <span class="text-royal-blue">{capitalizedName}</span> !
        </h1>
        <div class="font-medium">Qu'allez vous découvrir aujourd'hui ?</div>
      </div>
      <div class="relative rounded-3xl md:w-1/2 bg-white text-left">
        <div class="flex gap-4 py-3 px-6">
          <img src="/icons/search.svg" alt="Rechercher" class="size-6" />
          <input
            type="search"
            name="query"
            autocomplete="off"
            id="globalSearch"
            hx-get="/search"
            hx-indicator="#searchSpinner"
            hx-trigger="input changed, search"
            hx-target="#auto_suggestions"
            placeholder="Rechercher une personne ou un article (⌘ + K)"
            class="grow focus:outline-none text-sm md:text-base"
            x-on:keydown.k.meta.window.prevent="document.getElementById('globalSearch').focus()"
          />
          <div
            id="searchSpinner"
            class="rounded-full border-2 border-gray-100 border-t-royal-blue animate-spin size-6"
          >
          </div>
        </div>
        <div
          id="auto_suggestions"
          class="flex flex-col rounded-3xl items-stretch"
        >
        </div>
      </div>
    </div>
    <img
      src="/images/bigBlasonSimple.png"
      alt="Blason d'Hébrail"
      class="h-[98vh] absolute right-0 top-1 translate-x-1/4 md:block hidden z-10"
    />
  </div>
  <div class="bg_discover_landscape h-screen rounded-b-2xl flex flex-col">
    <div class="bg-discreet-cream h-4 rounded-b-2xl"></div>
    <div
      class="flex flex-col items-center backdrop-blur-md md:backdrop-blur-0 gap-8 justify-center grow min-h-0 p-4"
    >
      <div class="text-4xl font-serif font-semibold text-center">
        Découvrez l'Histoire
      </div>
      <div class="max-w-2xl md:text-lg font-medium text-center">
        Depuis plus de 1000 ans, la famille d'Hébrail se construit et
        s'agrandit. Nous avons regroupé pour vous tous ces noms et histoires et
        avons reconstitué son <span class="text-royal-blue"
          >arbre généalogique</span
        >.
      </div>
      <a
        href="/tree"
        class="uppercase text-sm md:text-lg bg-black text-white hover:bg-gray-800 transition px-12 py-2 rounded-full hover:scale-105"
      >
        Voir l'arbre généalogique
      </a>
    </div>
  </div>
  <div class="py-10 px-6 md:px-16 flex flex-col items-center gap-16">
    <h3 class="text-3xl md:text-4xl font-serif text-center">
      Les articles <span class="text-royal-blue">à ne pas manquer</span>
    </h3>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-16">
      {
        hotLinks.map((hl) => (
          <a
            href={hl.href}
            h-
            class="flex flex-col items-center gap-4 w-56 shadow focus:shadow-xl hover:shadow-xl rounded-3xl overflow-clip hover:scale-105 focus:scale-105 transition bg-white"
          >
            <img src={hl.image} alt={hl.title} class="w-full h-56" />
            <div class="text-center px-2 pt-4 pb-6">{hl.title}</div>
          </a>
        ))
      }
    </div>
    <a
      href="/listing"
      class="rounded-full bg-royal-blue text-sm md:text-lg uppercase text-white hover:scale-105 px-12 py-2 focus:scale-105 transition"
      >Voir tous les articles</a
    >
  </div>
  <footer class="bg-white px-2 py-4 text-center text-gray-500 text-sm">
    Recherches faites par <b>Charles d'Hébrail</b> et <b>Mahaut d'Hébrail</b>,
    design par <b>Isaure Donato</b>, site internet par <b>Pierre d'Hébrail</b
    ><br />
    <a
      href="mailto:pierredheb@gmail.com"
      class="text-royal-blue hover:underline">Contactez-nous</a
    >
  </footer>
</Layout>

<style>
  #searchSpinner {
    opacity: 0;
  }

  .htmx-request#searchSpinner {
    opacity: 1;
    transition: all 100ms ease-in;
  }
</style>
