---
import { Profile } from "@interfaces/profile";

const pb = Astro.locals.pb;
const isAdmin = pb.authStore.model.isAdmin;

const { id } = Astro.params;

const profile = await pb.collection("profiles").getOne<Profile>(id);

export const partial = true;
---

<div class="h-full w-[35rem] max-w-[100vw] py-2 px-2 flex">
  <div
    class="bg-white shadow-lg rounded-2xl p-6 relative flex flex-col gap-6 grow min-h-0"
  >
    <button
      hx-get="/profile/partial"
      hx-target="#profile-card"
      class="absolute top-4 right-4 flex items-center justify-center w-8 h-8 bg-gray-200 hover:bg-gray-300 text-gray-600 hover:text-gray-700 rounded-full focus:outline-none focus:ring-2 focus:ring-gray-400"
    >
      <img src="/icons/cross.svg" alt="cross" class="w-4 h-4" />
    </button>
    <div>
      <h1 class="text-5xl text-center font-serif">{profile.name}</h1>
      <div class="text-center text-sm text-gray-500">
        {profile.birthDate}{profile.deathDate && ` - ${profile.deathDate}`}
      </div>
    </div>
    <hr class="border-royal-blue border-t-2" />
    <div class="grow min-h-0 overflow-auto" set:html={profile.description} />
    {
      isAdmin && (
        <button
          hx-get={`/profile/partial/${profile.id}/edit`}
          hx-target="#profile-card"
          class="bg-blue-500 text-white px-2 py-1 rounded-md mt-2 hover:bg-blue-800 focus:bg-blue-800 transition"
        >
          Modifier
        </button>
      )
    }
  </div>
</div>
<script is:inline define:vars={{ id: profile.id, personName: profile.name }}>
  document.title = personName;
  window.history.pushState({}, "", `/tree?profileId=${id}`);
  document
    .getElementById("node-" + id)
    .scrollIntoView({ behavior: "smooth", inline: "center", block: "center" });
</script>
