---
import ImageCarousel from "@components/imageCarousel.astro";
import type { Profile } from "@interfaces/profile";

const pb = Astro.locals.pb;
const isAdmin = pb.authStore.model.isAdmin;

const { id } = Astro.params;

const profile = await pb.collection("profiles").getOne<Profile>(id);
const displayDate = (date: string) => {
  const [year, month, day] = date.split("-");
  if (day) return `${day}/${month}/${year}`;
  if (month) return `${month}/${year}`;
  return `${year}`;
};

const imageUrls = profile.photos.map((imageId) => {
  return pb.files.getUrl(profile, imageId, { thumb: "100x250" });
});

export const partial = true;
---

<div class="h-full w-[35rem] max-w-[100vw] py-2 px-2 flex">
  <div
    class="bg-white shadow-lg rounded-2xl p-6 relative flex flex-col gap-6 grow min-h-0"
    id="profile_card_content"
  >
    <button
      hx-get="/profile/partial"
      hx-target="#profile-card"
      hx-push-url="/tree"
      class="absolute top-4 right-4 flex items-center justify-center size-8 bg-gray-200 hover:bg-gray-300 text-gray-600 hover:text-gray-700 rounded-full focus:outline-none focus:ring-2 focus:ring-gray-400"
    >
      <i class="ph ph-x"></i>
    </button>
    <div class="flex flex-col-reverse md:flex-row items-center gap-2">
      {
        imageUrls.length > 0 && (
          <div class="size-44">
            <div class="relative flex overflow-x-auto scrollbar-hide rounded-full gap-2 snap-x snap-mandatory h-full border-gray-100">
              <img
                src={imageUrls[0]}
                alt={profile.name}
                class="object-cover snap-center w-60"
              />
              <div
                class="absolute inset-0 bg-black opacity-0 hover:opacity-50 transition"
                x-on:click="imageCarouselModalOpen=true"
              >
                <i class="absolute text-white text-3xl ph ph-eye top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" />
                <div class="absolute flex items-center left-1/2 -translate-x-1/2 bottom-2">
                  <i class="text-white text-xl ph ph-images-square" />
                  <span class="text-white">{imageUrls.length}</span>
                </div>
              </div>
            </div>
          </div>
        )
      }
      <div class="grow flex flex-col justify-center">
        <h1 class="text-5xl text-center font-serif">{profile.name}</h1>
        <div class="text-center text-sm text-gray-500">
          {displayDate(profile.birthDate)}{
            profile.deathDate && ` - ${displayDate(profile.deathDate)}`
          }
        </div>
      </div>
    </div>
    <hr class="border-royal-blue border-t-2" />
    <div class="grow min-h-0 overflow-auto" set:html={profile.description} />
    {
      isAdmin && (
        <button
          hx-get={`/profile/partial/${profile.id}/edit`}
          hx-target="#profile-card"
          class="bg-blue-500 text-white px-2 py-1 rounded-md mt-2 hover:bg-blue-800 focus:bg-blue-800 transition"
        >
          Modifier
        </button>
      )
    }
  </div>
  {imageUrls.length >= 0 && <ImageCarousel imageUrls={imageUrls} />}
</div>
<script is:inline define:vars={{ id: profile.id, personName: profile.name }}>
  document.title = personName;
  document
    .getElementById("node-" + id)
    .scrollIntoView({ behavior: "smooth", inline: "center", block: "center" });
</script>
