---
interface Props {
  imageUrls: string[];
}

const { imageUrls } = Astro.props;
---

<div
  class="fixed inset-0 bg-black z-40 bg-opacity-90 flex justify-center items-center"
  x-show="imageCarouselModalOpen"
  x-on:keydown.escape.window="imageCarouselModalOpen = false"
  x-data=`{ currentImage: 0, imageUrls: ${ JSON.stringify(imageUrls) } }`
  x-on:keydown.right.window="currentImage = (currentImage + 1) % imageUrls.length"
  x-on:keydown.left.window="currentImage = (currentImage - 1 + imageUrls.length) % imageUrls.length"
>
  <button
    x-on:click="imageCarouselModalOpen = false"
    class="bg-black hover:bg-gray-800 transition bg-opacity-50 rounded-full size-10 p-1 absolute top-4 right-4"
  >
    <i class="ph ph-x text-white text-3xl"></i>
  </button>
  <button
    x-on:click="currentImage = (currentImage - 1 + imageUrls.length) % imageUrls.length"
    class="bg-black hover:bg-gray-800 transition bg-opacity-50 rounded-full size-10 absolute top-1/2 left-4 -translate-y-1/2 z-10 flex items-center justify-center"
  >
    <i class="ph ph-caret-left text-white text-3xl"></i>
  </button>
  <div class="h-5/6 w-full relative flex gap-2 overflow-clip">
    {
      imageUrls.map((url, index) => (
        <div
          class="absolute top-1/2 left-1/2 flex justify-center h-full w-[800px] transition-all"
          x-bind:class={`currentImage !== ${index} && 'h-3/4 opacity-60'`}
          x-bind:style={`\`transform: translate(calc(${index} * 100% - \${currentImage} * 100% - 50%), -50%)\``}
          x-on:click={`currentImage = ${index}`}
        >
          <img id="modal-image" src={url} class="object-contain h-full" />
        </div>
      ))
    }
  </div>
  <button
    x-on:click="currentImage = (currentImage + 1) % imageUrls.length"
    class="bg-black hover:bg-gray-800 transition bg-opacity-50 rounded-full size-10 absolute top-1/2 right-4 -translate-y-1/2 z-10 flex items-center justify-center"
  >
    <i class="ph ph-caret-right text-white text-3xl"></i>
  </button>
  <div class="absolute bottom-4 left-1/2 -translate-x-1/2 flex gap-2">
    {
      imageUrls.map((_, index) => {
        return (
          <div
            class="bg-white size-2 rounded-full transition"
            x-bind:class={`currentImage !== ${index} && 'bg-opacity-50'`}
          />
        );
      })
    }
  </div>
</div>
